{% extends "base.html" %}

{% block title %}Situations - About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="text_scope">
            <h4>#nofilter</h4>

            <h4><i>The project #nofilter is an exploration and wants to visualize the process of editing, the
                filters and invisible structures that are at work in the process of choosing images.
            </i></h4>

            <h4 class="header_text">Project-Description</h4>

            <p>
                Three forms of “narratives” will be presented:<br>
                1. online: the presentation of the selected images on DER GREIF platform<br>
                2. visual: presentation of the filters (structural elements) in the exhibition space<br>
                3. audio (text-to-speech): presentation of the personal narratives of why images are chosen in
                the
                exhibition space<br>
            </p>

            <h4 class="header_text header_about">About SITUATIONS Fotomuseum Winterthur</h4>

            <p>As every citizen with a smartphone, laptop or tablet knows, photography is becoming increasingly
                ‘distributed’.
                Driven by the vast replicative power of digital algorithms, photographs now move with tremendous
                speed across
                a wide variety of devices and platforms. The distinction between the still and the moving image
                is
                becoming
                increasingly blurred. At the same time, digital vision is now profoundly social, implicated in
                many
                areas
                of human activity. Certainly, this is having an impact on practice as younger artists in
                particular
                work
                with a range of media and no longer easily describe themselves as photographers.</p>

            <p>In our daily work we find ourselves speaking more of the photographic than photography, of
                photographic
                media, rather than the medium. This poses a challenge for a photography museum with a
                distinctive,
                but
                significantly analogue.......</p>

            <hr>

            <a href="{% url 'gallery:impressum' %}">Impressum</a>
        </div>
    </div>
</div>
<div class="prefix"></div>
{% endblock %}