{% extends "base.html" %}

{% block title %}Situations - About{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="text_scope about">

            <h4>(Un)filtered Scenarios. An Experiment in Distributed Selection</h4>
            <p>»(Un)filtered Scenarios« is an experiment inquiring the selection process through the dynamics of net-based distribution.</p>
            <p>Breaking with the idea of single-person authorship, the project uses a »chain letter« email that invites individuals to participate in the selection of images for the online exhibition by choosing one image from the open call. The email is sent to four initial participants, continuing its path as the invitees are asked to forward the email to two further participants once they have made their choice.</p>
            <p>The chosen images are displayed in an online exhibition on this website. The selection process is anonymized, but participants are asked to fill out a form including standard social categories like gender, age or occupation. They are also asked to leave a personal note on why they chose the image. Fotomuseum visualizes the filters and displays the personal, possibly structural narratives that unfold around the process of distributed image selection.</p>
            <br>

            <h4>About DER GREIF</h4>
            <p>DER GREIF is an award-winning project for contemporary photography. It is print-publication, online-publication, curatorial team and joint project all at once. The artistic core and root of the project is the ad-free print-publication. It combines and presents the works of photographers and authors of different origins in a holistic piece of art.</p>
            <p>The website is exhibition-, communication-, and information-platform for participants and anyone interested in contemporary photography. Participating artists are presented in special artist-features where they are given the opportunity to blog. In »Guest-Room«, outstanding personalities in the field of international photography curate and select their favorite submissions online.</p>
            <p>Der Greif connects the digital and the analogue, exploring and expanding the borders and limits of publishing in the digital era. Since its inception in 2008, the project is involved with contemporary issues like the changing perception of authorship or the rise of the remix culture.</p>
            <p>DER GREIF has worked with institutions such as FOAM (Amsterdam), Aperture Foundation (New York), C/O Berlin, Fotomuseum Winterthur and published works from about 1.000 photographers and artists in printed publications as well as online.</p>
            <br>

            <h4 class="about_situations">About SITUATIONS Fotomuseum Winterthur</h4>
            <p>As every citizen with a smartphone, laptop or tablet knows, photography is becoming increasingly ‘distributed’. Driven by the vast replicative power of digital algorithms, photographs now move with tremendous speed across a wide variety of devices and platforms. The distinction between the still and the moving image is becoming increasingly blurred. At the same time, digital vision is now profoundly social, implicated in many areas of human activity. Certainly, this is having an impact on practice as younger artists in particular work with a range of media and no longer easily describe themselves as photographers.
            In our daily work we find ourselves speaking more of the photographic than photography, of photographic media, rather than the medium. This poses a challenge for a photography museum with a distinctive, but significantly analogue history. We are convinced that Fotomuseum Winterthur needs to react decisively and that this means far more than simply re-embracing a rather out-dated ‘digital turn’.
            </p>
            <br>
            <br>
            <br>
            <br>
            <a class="anchor_about_impressum" href="{% url 'gallery:impressum' %}">Impressum</a>
        </div>
    </div>
</div>
<div class="prefix"></div>
{% endblock %}