{% extends "base.html" %}

{% block title %}Situations - Images{% endblock %}

{% block content %}
<p>
    All images will be displayed here in random order.<br>
    Accessing this page will only be possible with an active publishers link.
</p>
<h1>Images</h1>
<ul>
{% for image in object_list %}
    <li>
        <p>{{ image.year|date }} - {{ image.title }}</p>
        <img src="{{MEDIA_URL}}" alt="{{image.title}}" style="width:304px;height:228px;">
    </li>
{% empty %}
    <li>No images yet.</li>
{% endfor %}
</ul>
{% endblock %}