{% extends "base.html" %}

{% block title %}Situations - Impressum{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="text_scope">
            <h4>Kommunikation per eMail:</h4>

            <p>Bitte beachten Sie, dass die Kommunikation per eMail Sicherheitslücken aufweisen kann. Das betrifft
                insbesondere den Zugang von eMails, aber auch deren Inhalt, der nicht lückenlos vor dem Zugriff Dritter
                geschützt werden kann.
                <br><br>
            <h4>Externe Links:</h4>

            <p>Diese Website enthält Links zu Internetseiten anderer Anbieter, auf deren Inhalt wir grundsätzlich keinen
                Einfluss ausüben können. Die durch Links gekennzeichneten Querverweise ermöglichen lediglich den
                vereinfachten Zugriff auf die Inhalte fremder Websites. Für diese fremden Inhalte sind wir nicht
                verantwortlich, außer wir erlangen davon Kenntnis, dass durch sie eine zivil- oder strafrechtliche
                Verantwortlichkeit ausgelöst wird, und es uns technisch möglich sowie zumutbar ist, deren Nutzung zu
                verhindern.
                <br><br>
                Falls Ihnen Rechtsverstöße oder sonstige beanstandbare Inhalte auf einer verlinkten Seite auffallen,
                bitten wir Sie, uns entsprechend zu informieren, damit wir den Link erforderlichenfalls löschen können.
                <br><br>
                Wir haften nicht für Schäden, die durch Nutzung oder das Unterbleiben der Nutzung von Informationen
                entstehen, die auf Websites bereitgestellt werden, auf die wir durch Querverweise oder Links verweisen.
            </p>
            <br>
            <h4>Datenschutzhinweise:</h4>

            <p>Beim Besuch dieser Homepage werden lediglich statistische Daten über Zugriffe auf diese Website ohne
                konkreten
                Personenbezug erhoben und gespeichert, nämlich <br>
                · Anzahl der Besuche, Anfragen, abgerufenen Dateien und Seiten<br>
                · Datum, Uhrzeit und Herkunft (Land) der Abrufe<br>
                · übertragene Datenmenge in kb<br>
                · IP-Adressen, URLs und Anwenderprogramm der zugreifenden Systeme<br>
                · Verweise und Suchbegriffe der Anfragen<br>
                · Ein- und Ausgangsseiten der Anfragen<br>
                · Meldung, ob der Abruf erfolgreich war<br>
                Dies geschieht in übereinstimmung mit den geltenden Datenschutzgesetzen und zu rein internen,
                statistischen Zwecken, wobei der einzelne Nutzer anonym bleibt.
                <br>
                Für die Einhaltung der Datenschutzbestimmungen im Internetangebot
                anderer Anbieter, die mit dieser Website verlinkt sind, sind wir nicht verantwortlich.
            </p>
            Urheberrecht / Sonstiges:
            Die Gestaltung dieser Website sowie die veröffentlichten Inhalte und Abbildungen sind urheberrechtlich
            geschützt. Jede vom Urheberrechtsgesetz nicht ausdrücklich zugelassene Verwendung bedarf unserer vorherigen
            schriftlichen Zustimmung. Mit einer Verwendung oder Weitergabe der Daten für kommerzielle Zwecke besteht
            kein Einverständnis.
        </div>
    </div>
</div>
<div class="prefix"></div>
{% endblock %}