{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Situations - Map{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script>
        var gender_choices = {{ gender_choices|safe }};
        var publisher_data = {{ publisher_data|safe }};
        initializeMap(publisher_data, gender_choices, '#9036fe', '#FFFFFF');
    </script>
{% endblock %}