{% extends "base.html" %}

{% block title %}Situations - Posts{% endblock %}

{% block content %}

{% load staticfiles %}
<!-- thumbnail -->
<div class="row thumbgallery post_gallery" id="abd">
    {% for post in object_list %}
    <div class="col-sm-6 col-md-4 thumbscope">
        <a class="lightbox_post" id="lightbox_{{post.id}}"> <!-- no href-->
            <div class="thumbnail post_thumbnail">
                <img id="img{{post.image.id}}" class="img-fluid" src="/media/900x900/{{post.image.filename}}"
                     alt="{{post.image.title}}">

                <div class="caption">
                    <div class="caption_text">
                        <p>{{ post.publishing_date|date }}</p>

                        <p>{{ post.publisher.get_gender_display }}</p>

                        <p>{{ post.publisher.loaction }}</p>

                        <hr width="150px">

                        <p>Image-Title:</p>

                        <h6>{{ post.image.title }}</h6>

                        <p>Image-Author:</p>

                        <h6>{{ post.image.author }}</h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <div class="thumbnail"><p>No images yet.</p></div>
</div>
{% endfor %}

<!-- lightbox detailview -->
<div class="lightbox_detailview">
    <div class="row backdrop_detail">
        <div class="col-md-12 col-sm-12 col-xs12 detail_nav">
            <div id="post_show_next" class="col-xs-2 col-sm-2 col-md-1 col_wrap">
                <div class="col_pref">
                    <img id="pref_img" class="pref_img" src="{% static 'img/pref.svg' %}" alt="pref">
                </div>
            </div>
            <div class="close lightclose close_detail"><img src="{% static 'img/close.svg' %}" alt="close"></div>
            <div id="post_show_pref" class="col-xs-2 col-sm-2 col-md-1 col_wrap next_wrap">
                <div class="col_next">
                    <img id="next_img" src="{% static 'img/next.svg' %}" alt="next">
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-10 col-xs-push-2 col-sm-push-2 col-md-push-1 box_detail">
            <!-- new stuff -->
            <!-- fromview -->
            <div class="row detail_wrapper">
                <div class="col-sx-12 col-sm-12 col-md-6 col_group_wrapper">

                    <!-- new stuff -->
                    <div class="list_group_wrapper list_group_wrapper_post">
                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">ID</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_id list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Date of Publication</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_date list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Gender</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_gender list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Occupation</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_occupation list-group-item-text"></p>
                            </div>
                        </div>

                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Age</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_age list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Location</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_location list-group-item-text"></p>
                            </div>
                        </div>

                        <hr width="60%">

                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Describe the image</h6>
                            </div>
                            <div class="col-xs-8">
                                <p class="list_description list-group-item-text"></p>
                            </div>
                        </div>
                        <div class="list-group row">
                            <div class="col-xs-4 pull-left">
                                <h6 class="list-group-item-heading">Why did I choose this image?</h6>
                            </div>
                            <div class="col-xs-8 col_max_width">
                                <p class="list_reason list-group-item-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col_img high_wrapper">
                    <div class="col_img_post">
                        <div class="detail_post_placeholder">
                            <img id="lightbox_img_postview" class="lightbox_img_post img-fluid publish_img" src="#"
                                 alt="#">
                        </div>
                        <div id="publish_caption" class="img_caption">
                            <p>Image-Title:</p>
                            <h6 id="publish_image_title"></h6>

                            <p>Image-Author:</p>
                            <h6 id="publish_image_author" class="no_margin_bottom"></h6>
                        </div>

                    </div>
                </div>
                <div class="row center_socials">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center_Socials">
                        <p>Socials</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}








