$xs: 767px;
$sm: 991px;

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;

    .btn_new{
    border-radius: 0px;
    }

    /*************** FONT STYLE *******************************/
    font-family: 'ClassicGrotesqueW01-Rg';

    button{
        font-family: 'Inconsolata';
        font-size: 14px;
    }

    a{
        cursor: pointer;
        text-decoration: none !important;
    }

    p{
        letter-spacing: 0.02em;
        word-spacing: 0.1em;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'ClassicGrotesqueW01-Bd' !important;
        letter-spacing: 0.03em;
        word-spacing: 0.1em;
    }

    label{
        letter-spacing: 0.03em;
        word-spacing: 0.1em;
    }

    /* CAPTION IMAGES */
    .img_caption, .caption_text{
        color: #9036fe;
        font-size: 10px;
        h6{
            font-size: 10px;
        }
    }

    .post_thumbnail{
        .caption_wrap{

            p{
                font-family: 'Inconsolata' !important;
                font-size: 12px !important;
            }
            h6{
                font-family: 'Inconsolata' !important;
                font-weight: bold !important;
                font-size: 12px !important;
            }
        }
    }

    /* FORMFIELD */
    .col_form{
        color: #9036fe;
        font-family: 'Inconsolata';
        font-size: 14px;

        textarea, input, select{
            color: #9036fe;
            font-size: 14px;
        }
        .invite_others{
            font-family: 'Inconsolata' !important;
            font-size: 14px;
            font-weight: bold;
        }
    }

    /* POSTFIELD */
    .list_group_wrapper{
        color: #9036fe;
        p{
            font-family: 'Inconsolata' !important;
            font-size: 14px !important;;
        }
        h6{
            font-family: 'Inconsolata' !important;;
            font-size: 14px !important;;
            font-weight: bold;
        }
    }
    /* PAGINATION */
    .pagination{
        font-family: 'ClassicGrotesqueW01-Rg';
        font-size: 14px;
    }

    /* NAVI */
    .navbar{
        a{
            font-family:'ClassicGrotesqueW01-Lt';
            font-size: 16px;
        }
    }

    /*IMPRESSUM*/
    .impressum{
        font-size: 10px;
        h4{
            font-family:'ClassicGrotesqueW01-Lt' !important;
            font-size: 20px;
        }
    }

    /*ABOUT*/
    .about{
        h4{
            font-family:'ClassicGrotesqueW01-Lt' !important;
            font-size: 20px;
        }
        .about_situations{
            color: #9036fe;
        }
        a{
            font-size: 10px;
            color: #000 !important;
        }
    }

    /*WELCOME*/
    .about_situations{
        font-family:'ClassicGrotesqueW01-Lt' !important;
        color: #9036fe;
        font-size: 20px;
    }

    .pro_description{
        font-size: 20px;
        font-family:'ClassicGrotesqueW01-Lt' !important;
    }

    .intro{
        font-size: 20px;
        font-family:'ClassicGrotesqueW01-Rg' !important;
    }

    .modal-title{
        font-size: 20px;
        font-family:'ClassicGrotesqueW01-Lt' !important;
    }


    /**********************************************************/
}

#content{
    min-height: 100%;
    height: 100%;
}

.active_p{
    a{
     color: #000 !important;
    }

}

/* THANK YOU HTML */
.thankyou_col{
    padding-top: 25vh;
    p{
        text-align: center;
    }
    h1{
        text-align: center;
        word-break: break-all;
        color: #9036fe;
        font-family: 'Inconsolata';
        font-size: 25px;
        @media screen and (max-width: $xs) {
		    font-size: 18px;
	    }
    }
}


