$font-path: "../fonts";

/*  INCONSOLATA REGULAR  */
@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata/inconsolata-regular.eot');
    src: url('inconsolata/inconsolata-regular.eot?#iefix') format('embedded-opentype'),
         url('inconsolata/inconsolata-regular.woff2') format('woff2'),
         url('inconsolata/inconsolata-regular.woff') format('woff'),
         url('inconsolata/inconsolata-regular.ttf') format('truetype'),
         url('inconsolata/inconsolata-regular.svg#inconsolataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*  INCONSOLATA BOLD  */
@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata/inconsolata-bold.eot');
    src: url('inconsolata/inconsolata-bold.eot?#iefix') format('embedded-opentype'),
         url('inconsolata/inconsolata-bold.woff2') format('woff2'),
         url('inconsolata/inconsolata-bold.woff') format('woff'),
         url('inconsolata/inconsolata-bold.ttf') format('truetype'),
         url('inconsolata/inconsolata-bold.svg#inconsolataregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*  OPENSANS REGULAR  */
@font-face {
    font-family: 'OpenSans';
    src: url('opensans/opensans-regular.eot');
    src: url('opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-regular.woff2') format('woff2'),
         url('opensans/opensans-regular.woff') format('woff'),
         url('opensans/OpenSans-Regular.ttf') format('truetype'),
         url('opensans/opensans-regular.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('opensans/opensans-italic.eot');
    src: url('opensans/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-italic.woff2') format('woff2'),
         url('opensans/opensans-italic.woff') format('woff'),
         url('opensans/opensans-italic.ttf') format('truetype'),
         url('opensans/opensans-italic.svg#opensansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*  OPENSANS BOLD  */
@font-face {
    font-family: 'OpenSans';
    src: url('opensans/opensans-bold.eot');
    src: url('opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-bold.woff2') format('woff2'),
         url('opensans/opensans-bold.woff') format('woff'),
         url('opensans/opensans-bold.ttf') format('truetype'),
         url('opensans/opensans-bold.svg#opensansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('opensans/opensans-bolditalic.eot');
    src: url('opensans/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('opensans/opensans-bolditalic.woff2') format('woff2'),
         url('opensans/opensans-bolditalic.woff') format('woff'),
         url('opensans/opensans-bolditalic.ttf') format('truetype'),
         url('opensans/opensans-bolditalic.svg#opensansbolditalic') format('svg');
    font-weight: normal;
    font-style: italic;
}