/* MIXIN and VARIABLES */
@mixin backdrop(){
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height: auto;
	min-height: 100vh;
	background:white;
}

@mixin lightbox($pixel){
	margin-left: $pixel;
    margin-right: $pixel;
}

$publish_col_height: 508px;
$xs: 767px;
$sm: 991px;
$md: 1999px;
$lg: 850px;

/*#############################################################################*/
/*############################ BASE LIGHTBOX ################################*/
/*#############################################################################*/

.img_caption{
	text-align: center;
	margin-top: 18px;
	p{
		margin-bottom: 0px;
	}
	h6{
		margin: 0px;
		margin-bottom: 10px;
		margin-top: 2px;
	}
}

input{
	border-radius: 0px !important;
}

textarea{
	border-radius: 0px !important;
}

.form-control-sm{
    border-radius: 0;
    cursor: pointer;
    -webkit-appearance: none;
  	-moz-appearance: none;
  	border-radius: 0px;
  	background-image: url(../img/arrow.svg);
  	background-position: right 50%;
    background-repeat: no-repeat;
}

/*#############################################################################*/
/*############################ DETAIL LIGHTBOX ################################*/
/*#############################################################################*/

.lightbox_detailview{
	@include lightbox(0px);
	min-height: 100vh;
	height: auto;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow:scroll;
    z-index: 500;
    background: white;
    display: none;
}

.box_detail{
	height: auto;
	img{
		margin: 0 auto;
	}
	p{
		text-align: center;
	}

	h6{
		text-align: center;
	}
	button{
		display: block;
		margin: 0 auto;
		margin-top: 38px;
		@media screen and (min-height: $lg) {
    		margin-top: 88px;
    	}
		@media screen and (max-width: $xs) {
			margin-top: 72px;
		}
		margin-bottom: 40px;
	}
}

.image-placeholder{
	width: 100%;
	height: 500px;

	@media screen and (max-width: $xs) {
		height: 300px;
	}
	width: 100%;
    height: 480px;

    position: relative;
    display: table;
    margin-top: 130px;

    @media screen and (min-height: $lg) {
    	margin-top: 190px;
    }

    .placeholder_center_imgage{
    display: table-cell;
	vertical-align: middle;
    }


	background: url(../img/loading.gif);
	background-size: 64px 64px;
	background-repeat:no-repeat;
	background-position: center center;
}

.lightclose{
	cursor:pointer;
	float:right;
	position: absolute;
	width: 100%;
	height: 50px;
	top: 15px;
    left: -15px;
	z-index: 500;
	img{
		height: 40px;
		width: 40px;
		float: right;
	}
}

.backdrop_detail{
	@include backdrop();
	/*display:none;*/
	margin-right: 0px;
    margin-left: 0px;
	z-index: 501;

}

#lightbox_img_detail{
	display: block;
    width: auto;
    height: auto;
    max-width: 60vw;
    max-height: 480px;
	margin: 0 auto;
    z-index: 600;

	@media screen and (max-width: $xs) {
		max-height: 300px;
	}


}

.col_wrap{
	display: table;
	padding: 0;
	height: 100vh;
	opacity: 0.3;

	&:hover,
	&:focus {
		opacity: 0.6;
	}
}

.next_wrap{
	float: right;
	cursor: pointer;
}

.col_next{
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;

}

#next_img{

	width: 50px;
	height: 50px;
	float: right;
	margin: 7px;

}

.col_pref{
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
}

.pref_img{

		width: 50px;
		height: 50px;
		margin: 7px;
}

.detail_nav{
	position: fixed;
	width: 100vw;
	padding-left: 0;
	padding-right: 0;
}

/*#############################################################################*/
/*########################### PUBLISH LIGHTBOX ################################*/
/*#############################################################################*/
.form_wrapper{
	padding-top: 130px;
	@media screen and (min-height: $lg){
		padding-top: 190px !important;
	}
	.col_form{
		height: $publish_col_height;

		.publish_form{
			float: right;
			width: 80%;

			@media screen and (max-width: $sm) {
			 	padding-right: 10px;
				float: none;
				width: 100%;
				margin: 0 auto;
				}
			max-width: 500px;

			.custom-select{
				width: 100px;
			}

			label{
				width: 150px;
				text-align: right;
				float: right;
				margin-top: 0px;
				margin-bottom: 0px;
				padding-top: 8px;
			}

			.btn_form{
				position: absolute;
				left: 0px;
				margin: 0 auto;
				right: 0px;
				top: 500px;
				border: 0px;
				width: 200%;
				margin-top: 50px;
			@media screen and (max-width: $sm) {
				width: 100%;
				}
			}
		}
	}
}

.btn_publish{
	display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 49px;
    @media screen and (min-height: $lg) {
    	margin-top: 99px;
    }
}

.box_pubview{
	overflow-x: scroll;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width: 100%;
	z-index:51;
}

.post_col_img{
	padding-left: 0px;
}

.col_img{								/*table_img_center*/
	height: $publish_col_height;
	max-width: 660px;
	display: table;
		@media screen and (max-width: $sm) {
		max-width:100%;
		display: none;
	}
	@media screen and (max-width: $xs) {
		display: none;
	}

	.col_img_center{					/*table_cell_img_center*/
		display: table-cell;
		vertical-align: middle;

	@media screen and (max-width: $sm) {
		width: 100%;
    	display: block;
    	margin: 0 auto;
	}

		.publish_img{					/*img_center*/
			max-width: 75%;
			max-height: 427px;
			@media screen and (max-width: $sm) {
				margin-top: 100px;
				max-height: 350px !important;
			}
			@media screen and (max-width: $xs) {
				max-height: 250px !important;
			}
		}
	}
}

.lightbox_publishview{
	@include lightbox(0px);
	z-index: 500;
	/*display: none;*/
}

.backdrop_pubview{
	position:absolute;
	margin-right: 0px;
    margin-left: 0px;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: white;
	z-index:600;
	display:none;
}

.no_margin_bottom{
		margin-bottom: 0px !important;
}


/*#############################################################################*/
/*############################ POST LIGHTBOX ##################################*/
/*#############################################################################*/

.lightbox_img_center{
	display: block;
	margin: 0 auto;
}
.col_group_wrapper{
	height: auto;
	min-height: 80vh;
    display: table;
   	@media screen and (max-width: $sm) {
		min-height: 0px;
	}

}

.list-group-item-heading{
	margin-top: 2px;
	margin-bottom: 3px;
}

.list_group_wrapper{
	padding-left: 10%;
    @media screen and (min-height: $lg) {
    	margin-top: 190px;
    }
	margin-top: 150px;
    max-width: 600px;
   	width: 100%;
    float: right;
	@media screen and (max-width: $sm) {
		width: 500px;
    	margin: 0 auto;
    	margin-top: 150px;
    	float: none;
	}
	@media screen and (max-width: $xs) {
		width: 63vw;
		min-width: 0px;
	}
	p{
		text-align: left;
	}

	h6{
		text-align: right;
		@media screen and (max-width: $xs) {
			text-align: left;
	}

	}
	hr{
		margin-bottom: 24px;
		@media screen and (max-width: $xs) {
			margin-top: 0px;
			float: left;
			width: 70% !important;
		}
    }
}

.high_wrapper{
    height: auto;
}

.col_img_post{
	margin-top: 150px;
	height: 480px;

	@media screen and (min-height: $lg) {
    	margin-top: 200px;
    }
	@media screen and (max-width: $sm) {
		margin-top: 0px;
		display: table !important;
	}
	@media screen and (max-width: $xs) {
		height: auto;
		margin-top: 0px;
		display: table !important;
	}
}

.center_Socials{
	margin-top: 75px;
	@media screen and (min-height: $lg) {
    	margin-top: 55px;
    }
    margin-bottom: 40px;
    text-align: center;

	a{
		margin-left: 4px;
    	margin-right: 4px;
	}
    i{
    	color: #9036fe;
    	opacity: 1;
    }
}

.detail_post_placeholder{
	min-height: 350px;

	@media screen and (max-width: $md) {
		min-height: 236px;
	}

		@media screen and (max-width: $sm) {
		min-height: 350px;
	}

	@media screen and (max-width: $xs) {
		min-height: 150px;
	}

	background: url(../img/loading.gif);
	background-size: 52px 52px;
	@media screen and (max-width: $sm) {
		background-size: 32px 32px;
	}

	@media screen and (max-width: $xs) {
		background-size: 20px 20px;
	}
	background-repeat:no-repeat;
	background-position: center center;
}

.lightbox_img_post{
	max-height: 350px !important;

		@media screen and (max-width: $md) {
		max-height: 250px !important;
	}

		@media screen and (max-width: $sm) {
		max-height: 350px !important;
	}
}

.header_form_email{
	margin-top: 14px !important;
}