/* MIXIN and VARIABLES */

@mixin backdrop(){
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height: auto;
	min-height: 100vh;
	background:white;
	opacity: .0;
	filter:alpha(opacity=0);
}

@mixin lightbox($pixel){
	margin-left: $pixel;
    margin-right: $pixel;
}

$publish_col_height: 427px;
$xs: 768px;


/* SASS */

/*#############################################################################*/
/*############################ DETAIL LIGHTBOX ################################*/
/*#############################################################################*/

.lightbox_detailview{
	@include lightbox(0px);
	min-height: 100vh;
	height: auto;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    overflow:scroll;
    z-index: 500;
}

.box_detail{
	display:none;

	img{
		margin: 0 auto;
	}
	p{
		text-align: center;
	}

	h4{
		text-align: center;
	}
	button{
		display: block;
		margin: 0 auto;
	}
}

.close{
	float:right;
	cursor:pointer;
	img{
		height: 40px;
		width: 40px;
	}
}

.lightclose{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 15px;
    left: -15px;
	img{
		float: right;
	}
}

.backdrop_pubview{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: white;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:600;
	display:none;
}

#lightbox_img_id_detail{
	display: block;
    width: auto;
    height: 60vw;
    max-height: 550px;
    //padding-top: 5vh;
    margin-top: 90px;
    z-index: 600;
}

/*#############################################################################*/
/*########################### PUBLISH LIGHTBOX ################################*/
/*#############################################################################*/
.form_wrapper{
	padding-top: 110px;
	@media screen and (max-width: $xs) {
        padding-top: 150px;
        }
	.col_form{
		height: $publish_col_height;
	}
}
.publish_form{
	float: right;
	width: 80%;

	@media screen and (max-width: $xs) {
        float: none;
		width: 100%;
		margin: 0 auto;
        }
    max-width: 500px;
	.custom-select{
		width: 100px;
	}
	.form-control{
		font-size: 12px;
	}

	label{
		width: 150px;
		font-size: 12px;
		text-align: right;
		float: right;
	}

	.btn_form{
		position: absolute;
		left: 0px;
		margin: 0 auto;
		right: 0px;
		top: 480px;
		border: 0px;
		width: 200%;
		margin-top: 50px;
   		margin-bottom: 50px;
	@media screen and (max-width: $xs) {
        width: 100%;
        }
	}
}

.btn_publish{
	display: block;
    margin: 0 auto;
}

.box_pubview{
	overflow-x: scroll;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width: 100%;
	z-index:51;
	display:none;

	.col_img{
		@media screen and (max-width: $xs) {
        display: none;
        }
		height: $publish_col_height;

	}

	.col_img:before {    /* create a full-height inline block pseudo=element */
		content: ' ';
		display: inline-block;
		vertical-align: middle;  /* vertical alignment of the inline element */
		height: 100%;
}

	.publish_img{
		display: inline-block;
		max-width: 75%;
    	max-height: $publish_col_height;
		vertical-align: middle;
	}
}

.lightbox_publishview{
	@include lightbox(0px);
	z-index: 500;
}

.backdrop_detail{
	@include backdrop();
	display:none;
	z-index: 501;
}
