<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

        <title>{% block title %}Situations{% endblock %}</title>
    </head>
    <body>

        {% include 'nav.html' %}

        <div id="content" class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer" class="panel-footer">
            <p>this is a footer</p>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/components/lightbox.js' %}"></script>
        <script src="{% static 'js/components/modal.js' %}"></script>
        <script src="{% static 'js/components/thumbnail.js' %}"></script>

    </body>
</html>