<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Situations{% endblock %}</title>
    </head>
    <body>
        {% include 'nav.html' %}

        <div id="content" class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer" class="panel-footer">
            <div class="footer_container">
                <p><a href="{% url 'gallery:impressum' %}">Impressum</a></p>
            </div>
        </div>


        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <script src="{% static 'js/components/lightbox.js' %}"></script>
        <script src="{% static 'js/components/modal.js' %}"></script>
        <script src="{% static 'js/components/thumbnail.js' %}"></script>
        <script src="{% static 'js/components/validator.js' %}"></script>
        {% block scripts %}
        {% endblock %}

    </body>
</html>