{% load staticfiles %}
<nav class="navbar navbar-default index-high" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#my_navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'gallery:posts' %}"><img src="{% static 'img/Logo.png' %}" alt="Situations"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my_navbar">
            <ul class="nav navbar-nav">
                <li class="{% if 'posts' in request.path %}active{% endif %}"><a href="{% url 'gallery:posts' %}">Posts</a></li>
                <li class="{% if 'map' in request.path %}active{% endif %}"><a href="{% url 'gallery:map' %}">Map</a></li>
                <li class="{% if 'about' in request.path %}active{% endif %}"><a href="{% url 'gallery:about' %}">About</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>