.hidden {
    display: none;
}

.controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    background-color: white;
    border-top: solid black 1px;
    border-left: solid black 1px;
}

.controls a {
    color: white;
}