#map_holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.small_lightbox {
    position: absolute;
    width: 40vw;
    right: 30vw;
    left: 30vw;
    background-color: white;
    z-index: 9000001 !important;
}

.index-high {
    z-index: 9000001 !important;
}

.index-very-high {
    z-index: 9000002 !important;
}

.gm-style-iw {
    font-family: Inconsolata, sans-serif;
}

.gm-style-iw .row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.gm-style-iw + div {
    display: none;
}