#map_holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 55px;
    z-index: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-map {
    z-index: 9999999 !important;
}

.gm-style-iw {
    font-family: Inconsolata, sans-serif;
}

.gm-style-iw .row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.gm-style-iw + div {
    display: none;
}